#homeheader {
	margin: 0;
	padding: 1% 0 45% 0;
	background-image: url(mars.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
	opacity: 1;
   	transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-webkit-transition: opacity .5s ease-in-out;
}

#homeheader ul li:hover {
	opacity: 0.5;
}

#homeheader img {
	vertical-align: bottom;
	padding-bottom: 12px;

}

nav h1 {
	margin: 1%;
	font-size: 35px;
	display: inline;
}

h2 {
	text-align: center;
	font-size: 25px;
	font-style: bold-900;
}

h3 {
	font-size: 25px;
}

body {
	margin: 0;
	background: black;
	font-family: 'Overpass', sans-serif;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

#img {
	display: block;
	margin: auto;
	width: 100%;
	position: absolute;
	bottom: 5%;
	text-align: center;

	opacity: 1;
   	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
   	transition: transform 0.25s ease-in-out;
   	-moz-transition: transform .25s ease-in-out;
   	-webkit-transition: transform .25s ease-in-out;
}

#img:hover {
	opacity: 0.5;
	transform: scale(1.2);
}

#intro {
	margin: 0 1%;
	text-align: justify;
	font-size: 20px;
}

#break {
	margin: 0;
    text-align: center;
    border-top: 4px solid white;
}

.column {
	position: relative;
  	float: left;
  	width: 33.33%;
  	height: 400px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
	display: flex;
	position: absolute;
	width: 100%;
	height: 400px;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	background-color: #000;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-style: bold-900;
	-moz-transition: opacity .5s ease-in-out;
  	-webkit-transition: opacity .5s ease-in-out;
}

.overlay:hover {
	opacity: 1;
}

#projandresearch {
	margin: 0.5% 0.5%;
}

#workexp {
	margin: 2%;
}

#publications {
	margin: 0 0.5%;
}

#skills {
	margin: 0 0.5%;
}

#skills div li {
	list-style-type: circle;
	margin: auto;
	text-align: center;
}

#downloadcv {
	width: fit-content;
	height: fit-content;
	border: 2px solid white;
	margin: 1% auto 1% auto;
	text-align: center;
	padding: 1%;
}