div {
	margin: 0;
	width: 100%;
	text-align: center
}

body {
	margin: 0 2%;
	background: black;
	font-family: 'Overpass', sans-serif;
	color: white;
	text-align: justify;
}

#return {
	width: fit-content;
	height: fit-content;
	border: 2px solid white;
	margin: 1% auto 1% auto;
	text-align: center;
	padding: 1%;
}

a {
	color: white;
	text-decoration: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}